{% extends "layout.html.twig" %}

{% block body %}

    <div id="code-of-conduct" class="mt-25"><!-- Code of Conduct-->
        <img src="" alt="">
        <div>
            <h3 class="font-sofia pb-2 mt-80 border-b border-pink-400 text-big">Code of Contact</h3>
            <p>We strive to ensure all our events, conferences , workshops and tutorials are welcoming, diverse and a comfortable
                safe place to attend. We expect participants to follow these rules at all events. We have lovely attendees and trust that this code of conduct mirrors
                the views of the majority of our participants. Should you feel otherwise please do not hesitate to speak to an organiser
                at the event. We subscribe whole-heartedly to the <a href="http://confcodeofconduct.com">http://confcodeofconduct.com</a> , Original source and credit: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> &amp; The Ada Initiative.
            </p>
        </div>
    </div>
{% endblock %}