{% extends "layout.html.twig" %}

{% block body %}
    <div id="contactus" ><!-- Speak for us-->
        <h3 class="font-sofia pb-2 border-b border-pink-400 text-big">Contact Us</h3>

            <div class="relative w-40 h-40 mx-auto my-12 bg-blue-300 rotate-45">
                <div class="flex justify-center items-center absolute top-0 right-0 w-20 h-20 hover:-mt-1 hover:text-orange-500 cursor-pointer bg-blue-800  ">
                    <a target="_blank" href="https://twitter.com/phpminds"><i class="fab fa-twitter fa-3x text-black-500 -rotate-45"></i></a>
                </div>
                <div class="flex justify-center items-center absolute bottom-0 left-0 w-20 h-20 hover:-mb-1 hover:text-orange-500 cursor-pointer bg-blue-800">
                    <a target="_blank" href="https://linkedin.com/groups/8411671"><i class="fab fa-linkedin-in fa-3x text-black-500 -rotate-45"></i></a>
                </div>
                <div class="flex justify-center items-center absolute right-0 bottom-0 w-20 h-20 hover:-mr-1 hover:-mb-1 hover:text-orange-500 cursor-pointer bg-blue-800">
                    <a target="_blank" href="mailto:bal@phpminds.org "><i  class="fas fa-envelope-open-text fa-3x text-black-500 -rotate-45"></i></a>
                </div>
                <div class=" flex justify-center items-center absolute left-0 top-0 w-20 h-20 hover:-ml-1 hover:-mt-1 hover:text-orange-500 cursor-pointer bg-blue-800 ">
                    <a href="https://www.irccloud.com/#!/ircs://irc.freenode.net:6697/%23phpminds"><i class="fa fa-comment  fa-3x text-black-500 -rotate-45 "></i></a>
                </div>
            </div>
    </div>
{% endblock %}