{% extends "layout.html.twig" %}

{% block body %}
    <h2></h2>

    <!-- Images in a row , across the middle -->
    <div class=" flex md:flex-row pb-10 items-center justify-center z-50 h-60 " >}
            <img class="transform rotate-12 w-ss max-w-lg md:w-36 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-U0A69TW6S-dd32cd67a684-512 " alt="A">
            <img class="transform rotate-3  w-ss max-w-lg md:w-40 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-U0AS7QMC3-83fd78040f31-512" alt="S">
            <img class="transform -rotate-6 w-ss max-w-lg md:w-32 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-U0159HDEKTR-ab7c35a1831f-512" alt="B">
            <img class="transform -rotate-3 w-11 max-w-lg md:w-36 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-UJTQNCJF6-d6672c305466-512" alt="J">
    </div>


{#    <div class="flex md:flex-row pb-10 items-center justify-center z-50  h-60 relative " >#}
{#        <img class="transform rotate-12 w-ss max-w-lg md:w-36 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-U0A69TW6S-dd32cd67a684-512 " alt="A">#}
{#        <img class="transform rotate-3  w-ss max-w-lg md:w-40 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-U0AS7QMC3-83fd78040f31-512" alt="S">#}
{#        <img class="transform -rotate-6 w-ss max-w-lg md:w-32 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-U0159HDEKTR-ab7c35a1831f-512" alt="B">#}
{#        <img class="transform -rotate-3 w-11 max-w-lg md:w-36 md:relative " src="https://ca.slack-edge.com/T0A6A07J7-UJTQNCJF6-d6672c305466-512" alt="J">#}
{#    </div>#}
    <!-- Sentence at bottom of first page  -->
    <div class="flex text-black font-bold text-xl pl-10 pr-10 pb-10">PHP User group meeting every 2nd Thursday of the month</div>






{% endblock %}