{% extends "layout.html.twig" %}

{% block body %}
    <h2></h2>

    <!-- Images in a row , across the middle -->
    <div class="flex md:flex-row pb-10 pl-10 pr-10 items-center justify-center " >
        <img class="transform rotate-12 h-36" src="https://ca.slack-edge.com/T0A6A07J7-U0A69TW6S-dd32cd67a684-512 " alt="A">
        <img class="transform rotate-3 h-40" src="https://ca.slack-edge.com/T0A6A07J7-U0AS7QMC3-83fd78040f31-512" alt="S">
        <img class="transform -rotate-6 h-32" src="https://ca.slack-edge.com/T0A6A07J7-U0159HDEKTR-ab7c35a1831f-512" alt="B">
        <img class="transform -rotate-3 h-36" src="https://ca.slack-edge.com/T0A6A07J7-UJTQNCJF6-d6672c305466-512" alt="J">
    </div>
    <!-- Sentence at bottom of first page  -->
    <div class="text-black font-bold text-xl pl-10 pr-10 pb-10">PHP User group meeting every 2nd Thursday of the month</div>






{% endblock %}