@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active {
    display: flex;
}

.footer-placement {
    position: absolute;
    bottom: 0px;
    min-height: 50px;  /* improved support for narrow screens */
    width: 100%;
}
/*nav {*/
/*    width : 100%;*/
/*    position : fixed;*/
/*    height : 50px;*/
/*    background: #6AA84F;*/
/*    display: block;*/
/*    top : 0;*/

/*    left : 0;*/

/*    z-index: 9999;*/
/*}*/

/*nav ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-direction: row ;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: relative;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*nav ul li {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    height: 100%;*/

/*}*/

/*nav ul li a{*/
/*    display: flex;*/
/*    height: 100%;*/
/*    padding: 4px 10px;*/
/*    color:white;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-decoration: none;*/
/*    font-weight: 300;*/
/*    letter-spacing: 1px;*/
/*}*/

/*ul li a:hover{*/
/*    opacity:0.6;*/
/*}*/