<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>PHPMiNDS | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div><!-- outer container -->
    <div class="mx-auto bg-green-700 p-5">
        <nav class="flex-row md:justify-between">
            <div class="flex flex-row justify-between">
                <a href="#">PHPMiNDS</a>
                <p id="hamburgerbtn" class="md:hidden bg-green-700">
                    menu
                </p>
            </div>
            <ul class="hidden md:flex md:flex-row" id="mobileMenu">
                <li class="pr-5"><a>Home</a></li>
                <li class="pr-5"><a>Upcoming Events</a></li>
                <li class="pr-5"><a>Past Events</a></li>
                <li class="pr-5"><a>Contact</a></li>
                <li><a>Code of Conduct</a></li>
            </ul>
        </nav>
    </div>

    <main>

        <header>
            <h2 class="">[ meeting every 2nd Thursday of the month at 6.30pm in Nottingham ]</h2>
        </header>

        <div><!-- Banner -->

        </div>

        <div><!-- upcoming events -->

        </div>

        <div><!-- past events -->

        </div>

        <div><!-- sponsors -->

        </div>
    </main>

    <footer><!-- footer nav -->

    </footer>
</div>


{% block body %}

{% endblock %}

<script>
    let hamburger = document.getElementById('hamburgerbtn');
    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function(){
        mobileMenu.classList.toggle('active');
    });
</script>
</body>
</html>
