<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>PHPMiNDS | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7f5b3541c5.js" crossorigin="anonymous"></script>
</head>

<body class="bg-bg-green text-white min-h-screen pt-48 relative pb-20">
    <nav class="flex-row fixed top-0 md:justify-between z-50 w-full left-0 shadow-xl bg-bg-green ">
        <div class="flex flex-wrap items-center justify-between px-10 py-3 pr-10  ">
            <!-- Header LHS  - Logo-->
                <div class="flex-shrink-0 " >
                    <a href="/">
                     <img class="h-32  transform hover:scale-110 motion-reduce:transform-none " src="/img/phpminds-banner.svg/" alt="PHPMinds usergroup logo">
                    </a>
                </div>

            <!-- Header Middle + Burger   -->
            <div class="flex flex-row  justify-between " >
                <a href="/upcoming-events"  class=" hover:text-blue-700 md:block lg:hidden text-white font-bold px-2 py-1 flex justify-center pr-10 " aria-label="Tells you about upcoming events here at PHPMinds">Upcoming Events </a>
                <a href="/speak-here"       class=" hover:text-blue-700 md:block lg:hidden text-white font-bold px-2 py-1 text-right pr-10  "        aria-label="Sign up for being a speaker here at PHPMinds">Speak for us </a>
                <a href="/previous-events"  class=" hover:text-blue-700 lg:block xl:hidden text-white font-bold px-2 py-1 text-right pr-10  "        aria-label="Have a look at all the previous speakers biography  PHPMinds" >Previous Events </a>
                <a href="/contact"          class=" hover:text-blue-700 xl:block xl:hidden text-white font-bold px-2 py-1 text-right pr-10  "        aria-label="Various ways to contact PHPMinds">Contact </a>
                <a href="/code-of-conduct"  class=" hover:text-blue-700 xl:block xl:hidden text-white font-bold px-2 py-1 text-right pr-10  "        aria-label="Details about our code of conduct">Code of Conduct </a>
{#                <a href="/sponsors"         class="hidden xl:block 2xl:hidden text-white font-bold px-2 py-1 text-right pr-10  "        aria-label="All you need to know about our sponsors">Sponsors </a>#}

                <p id="burger-button" class="bg-blue-700 rounded ">
                    <svg class=" h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"  alt="Menu to choose options from"  >
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </p>
            </div>
        </div>
        <!-- Drop down menu , under Burger -->
        <ul id="mobileMenu" class="hidden pb-10 pl-10 pr-10 items-center justify-center bg-bg-green md:items-end flex flex-col">
            <li class="max-w-full md:max-w-small w-full"><a href="/upcoming-events"  class="block text-white font-bold px-2 py-4 rounded hover:bg-gray-800 text-right pr-10 ">Upcoming Events </a></li>
            <li class="max-w-full md:max-w-small w-full"><a href="/speak-here"       class="block text-white font-bold px-2 py-4 rounded hover:bg-gray-800 text-right pr-10 ">Speak for uss </a></li>
            <li class="max-w-full md:max-w-small w-full"><a href="/previous-events"  class="block text-white font-bold px-2 py-4 rounded hover:bg-gray-800 text-right pr-10 ">Previous Events </a></li>
            <li class="max-w-full md:max-w-small w-full"><a href="/contact"          class="block text-white font-bold px-2 py-4 rounded hover:bg-gray-800 text-right pr-10 ">Contact </a></li>
            <li class="max-w-full md:max-w-small w-full"><a href="/code-of-conduct"  class="block text-white font-bold px-2 py-4 rounded hover:bg-gray-800 text-right pr-10 ">Code of Conduct </a></li>
            <li class="max-w-full md:max-w-small w-full"><a href="/sponsors"         class="block text-white font-bold px-2 py-4 rounded hover:bg-gray-800 text-right pr-10 ">Sponsors </a></li>
        </ul>
    </nav>
{#    <header class="bg-bg-green text-white mt-48 display:inline-block"></header>#}

<main class="pl-5 pr-5 text-justify mb-auto">
    {% block body %}{% endblock  %}
</main>

<footer class="m-3 flex absolute bottom-0" ><!-- footer nav -->
<div id="contacts">
    <p class="mb-20">
        <ul class="social ">
            <a target="_blank" href="https://twitter.com/phpminds"><i class="fab fa-twitter-square fa-2x mx-1 text-black-500 hover:text-orange-500 cursor-pointer"></i></a>
            <a target="_blank" href="https://linkedin.com/groups/8411671"><i class="fab fa-linkedin-in fa-2x mx-1 text-black-500 hover:text-orange-500 cursor-pointer"></i></a>
            <a href="mailto:bal@phpminds.org "><i class="fas fa-envelope-open-text fa-2x mx-1 text-black-500 hover:text-orange-500 cursor-pointer"></i></a>
            <a href="http://slack.phpminds.org/"><i class="fa fa-slack fa-2x mx-1 text-black-500 hover:text-orange-500 cursor-pointer"> </i></a>
            <a href="https://www.irccloud.com/#!/ircs://irc.freenode.net:6697/%23phpminds"><i class="fa fa-comment fa-2x mx-1 text-black-500 hover:text-orange-500 cursor-pointer"></i> </a>
        </ul>
        <p mb-5>©PHPMinds 2021</p>
    </p>
</div>
</footer>

<script>

        let hamburger = document.getElementById('burger-button');
        let mobileMenu = document.getElementById('mobileMenu');
        let notMobile = document.getElementById('notMobileMenu');
        // let notMobile document.getElementById('notMobileMenu');

        //        const nav = document.querySelector('#nav');
        //         nav.classList.toggle("isOpen");

        hamburger.addEventListener('click', function(){
            mobileMenu.classList.toggle('nav-active');
        });
        // hamburger.addEventListener('click', function(){
        //     mobileMenu.classList.toggle('notActive');
        //     notMobile.classList.toggle('active');
        // });



</script>
</body>
</html>
